.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 5em;
}
.header--contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: end;
  margin-bottom: 3em;
}

.header--nav li {
  display: inline;
  list-style: none;
  padding-left: 1.6em;
}

.header--nav a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
}
