// Аренда

.rent {
  margin: 3em 4.5em;
}

.rent--main--content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.rent--main--wrapper {
  flex: 1 0 35%;
}

.rent--main--wrapper p {
  padding-right: 4em;
  margin: 2em 0.5em;
  line-height: 2;
}

.rent--main--card {
  background-color: #144884;
  padding: 12em 3em 1em;
  margin: 0.5em;
  * {
    color: white;
  }
}
