extends layouts/default

block content
  main.documents--container
    ul.documents--leftside
      li
        p Документ №1
        a(href='/').button--original Скачать документ
      li
        p Документ №3
        a(href='/').button--original Скачать документ
      li
        p Документ №5
        a(href='/').button--original Скачать документ
      li
        p Документ №7
        a(href='/').button--original Скачать документ
    ul.documents--rightside
      li
        p Документ №2
        a(href='/').button--original Скачать документ
      li
        p Документ №4
        a(href='/').button--original Скачать документ
      li
        p Документ №6
        a(href='/').button--original Скачать документ
      li
        p Документ №8
        a(href='/').button--original Скачать документ
